*{
    padding: 0;
    margin: 0;
}
#canvas{
    background-color: yellow;
    display: block;
}
.action{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    padding: 6px 10px;
}
.action .icon{
    margin-left: 5px;
}
.action>#brush{
    display: none;
}
.action.x >#brush{
    display: inline-block;
}
.action.x >#eraser{
    display: none;
}